* {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  font-family: Montserrat;
}
.slick {
  margin: 50px;
}

body {
  background: #f2f2f2;
/*   background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027); */
}

.msgError {
  font-weight: bold;
  color: #dc3545;
}

.input {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: #333;
  padding: 10px;
  border-radius: 0.2rem;
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  width: 90%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* html,
img,
video,
iframe {
  filter: invert(1) hue-rotate(180deg);
} */

/*============= IMG 360 ========*/

html,
body {
  overflow: auto !important;
}
